@import url('https://fonts.googleapis.com/css?family=Karla:400,400i');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;;
}

/* Defines a basic grid for body */
.body-index {
    background: #616161;
    color: #fafafa;
    font-weight: 350;
    font-family: 'Karla', sans-serif;
    font-style: normal;

    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    justify-content: center;
    align-content: center;
    width: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
    height: 100%;
    
}








.main-class {
    grid-area: main;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    
}

.main-height {
    height: 100vh;
}

.main-class h2 {
    padding-top: 1em;
    text-align: center;
}

.main-class p {
    text-align: center;
}














.portfolio-main {
    grid-area: main;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-content: center;
    align-items: end;
    column-gap: 10%;
    row-gap: 5em;
    height: 1%;
    padding-bottom: 5em;
    /* padding-left: 5em;
    padding-right: 5em; */
    
}

.portfolio-title {
    grid-column: span 3;
    grid-row: span 2;
    text-align: center;
    font-size: 10em;
    padding-top: 0.5em;
}

/* NOTE: After hours of searching the web, trying many different solutions, it was NECCESSARY TO USE ABSOLUTE&RELATIVE POSITIONING HERE as it is RELATIVE to the parent of portfolio-item. */
.portfolio-item {
    position: relative;
    width: 18em;
    height: 18em;
    border-radius: 2.5em;
    
}

/* NOTE: After hours of searching the web, trying many different solutions, it was NECCESSARY TO USE ABSOLUTE&RELATIVE POSITIONING HERE as it is RELATIVE to the parent of portfolio-item. */
.portfolio-item-pic {
    position: relative;
    width: 100%;
    border-radius: 2.5em;
    transition: ease-in-out .5s;
}


  
.portfolio-item:hover .portfolio-item-pic {
    transition: ease-in-out .5s;
    filter: blur(4px);
    -webkit-filter: blur(4px);

    
}

.portfolio-item:hover .portfolio-item-text {
    transition: ease-in-out .5s;
    opacity: 1;
}


/* NOTE: After hours of searching the web, trying many different solutions, it was NECCESSARY TO USE ABSOLUTE&RELATIVE POSITIONING HERE as it is RELATIVE to the parent of portfolio-item. */
.portfolio-item-text {
    transition: ease-in-out .5s;
    opacity: 0;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

















.blog-main {
    grid-area: main;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-content: center;
    column-gap: 3%;
    height: 80vh;
    padding-bottom: 15em;
    
}

.blog-title {
    grid-column: span 3;
    /* grid-row: span 2; */
    text-align: center;
    font-size: 6em;
    padding-top: 1em;
}


.blog-item {
    width: 100%;
    height: 80%;
    border-radius: 0.5em;
    background-color: #2a2929;
    transition: transform 0.2s; 
    
}


.blog-item-pic {
    border-radius: 0.5em 0.5em 0em 0em;
    width: 100%;
    overflow: hidden;
}

.blog-item-bottom {
    width: 100%;
    background-color: #2a2929;
    height: 50%;
    border-radius: 0em 0em 0.5em 0.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.blog-item-bottom div h1 {
    
    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    font-size: 160%;
    
}

.blog-item-bottom div p {
    
    font-style: normal;
    font-size: 110%;
    padding-top: 1em;
    text-align: center;
    
}

.blog-item-bottom-text {

    width: 20em;
    text-align: center;
}

.blog-item:hover {
    transform: scale(1.05);
}

.blog-item a {
    text-decoration: initial;
    color: white;
}



















.sitereport-main {
    grid-area: main;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    justify-content: center;
    align-items: end;
    column-gap: 10%;
    row-gap: 4em;
    height: 1%;
    
}

.sitereport-title {
    grid-column: span 4;
    grid-row: span 2;
    text-align: center;
    font-size: 7em;
    padding-top: 0.5em;
}

.statistics-info {
    grid-column: span 4;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    column-gap: 10%;
}



.sitereport-boxed-item {
    width: 18em;
    height: 18em;
    border-radius: 2.5em;
    background-color: #9d9494;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    row-gap: 1.5em;
}

.sitereport-boxed-item > h2 {
    font-size: 2em;
    
    color: #2a2929;
}

.sitereport-boxed-item p {
    font-size: 2em;
}

.sitereport-subtitle {
    grid-column: span 4;
    font-size: 5em;
    text-align: center;
    text-decoration: underline;
}

.sitereport-mockup-image {
    width: 100%;
}

.mobile-desktop-mockups {
    grid-column: span 4;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    column-gap: 10%;
}

.paragraph-centered {
    font-family: 'Courier New', Courier, monospace;
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: center;
    font-size: 2.5em;
}

.no-styling {
    text-decoration: none;
    color: rgb(216, 201, 201);
}



.pros {
    color: green;
}

.cons {
    color: red;
}


.pros-and-cons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: span 2;
    text-align: center;
}

.pros-and-cons h2 {
    font-size: 10em;
}

.pros-and-cons ul li {
    font-size: 2em;
    list-style: none;
}

.con::first-letter {
    color: red;
}

.pro::first-letter {
    color: green;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: span 2;
    text-align: center;
}

.vid-first {
    grid-column: span 4;
}

video {
    width: 100%;
}

.vid-file-first {
    width: 50%;
}













/* Index Profile Pic Border */
.profile-pic-border {
    display: flex;
    justify-content: center;
    max-width: 15em;
    max-height: 15em;
    overflow: hidden;
    border-radius: 80em;
    border-color: #fafafa;
    border-width: 0.1em;
    border-style: groove;
}

.profile-pic {
    width: 19.5em;
    display: block;
}







.header-top {
    width: 100%;
    top: 0;
    grid-area: header;
}

.hamburger-main {
    width: 100%;

}

/* Stretches header across whole page */
#header-links { 
    display: flex;
}

#header-links li:hover a{
    background: #9a8b8b;
    transition: ease-in-out .2s;
}

#header-links li{
    width: 100%;
    list-style-type: none;
}

#header-links li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:5em;
    flex-basis: 0;
    color: white;
    background: #2a2929;
    flex-grow: 1;
    text-decoration: none;
    text-align: center;
    transition: ease-in-out .2s;
}

#header-links li a p{
    display: block;
}


#hamburger-main label, #hamburger { 
    display: none; 
}


























footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 6em;
    bottom: 0;
    background-color: #2a2929;
    grid-area: footer;
    position: static;
    grid-column-start: 1;
    grid-column-end: -1;
    

}

footer p {
    color: #969696;
}

.ig-social {
    width: 2em;
    padding-bottom: 1em;
}






.contact-form-box {
    background-color: rgb(46, 43, 43);
    width: 45em;
    height: 75%;
    padding-left: 8em;
    padding-right: 8em;

    display: grid;
    grid-auto-rows: 9.5em;
    grid-gap: 0.5em;
    grid-column-gap: 3em
}

.contact-form-box h1 {
    font-size: 2.2em;
    padding-top: 1.8em;
    grid-column: 1/3;
    border-radius: 3em;

}


.form-item {
    display: flex;
    flex-direction: column;
}

.label-tag {
    font-size: 0.9em;
    margin-bottom: 0.5em;
}

.text-box {
    height: 1em;
    padding: 0.5em;
    font-size: 1.7em;

    font-weight: 350;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    
}

.text-box-entire-width {
    grid-column: 1/3;
}

.text-box-dynamic {
    resize: vertical;
    height: 100%;
}

.form-button-submit {
    margin-top: 4em;
    height: 5.5em;
    font-weight: 350;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    
}


